@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap');

:root{
    --lg-font: 'Kaisei Tokumin', serif;
    --sm-font: 'Poppins', sans-serif;
    --red: #e32420;
}
body {
    font-family:var(--sm-font);
}
.bg-primary{
    background-color: var(--red)!important;
}
.navbar {
    box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
}
.navbar-brand img{
    width: 50px
}
.navbar-brand span{
    letter-spacing: 2px;
    font-family: var(--lg-font)
}
.nav-link:hover{
    color: var(--red)!important;
}
.nav-item{
    border-bottom:rgba(0, 0, 0, 0.05)
}